@using Microsoft.AspNetCore.Identity
@model IEnumerable<Projekt.Models.Dane>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Forum";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
          @if (SignInManager.IsSignedIn(User))
  { 
      <li class="nav-item">
                                <a class="button" asp-area="" asp-controller="Danes" asp-action="Index">Moje Treści</a>
                            </li>
  }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Wyświetl Temat</a>  
                 @if (ViewContext.HttpContext.User.IsInRole("Admin"))
  {
      <a asp-action="Delete" asp-controller="Danes" asp-route-id="@item.Id">Usuń(admin)</a>
  }

            </td>
          
        </tr>
}
    </tbody>
</table>
