@model IEnumerable<Projekt.Models.Komentarze>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Komentarze</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                 @if (ViewContext.HttpContext.User.IsInRole("Admin"))
  {
      <a asp-action="Delete" asp-controller="Komentarzes" asp-route-id="@item.Id">Usuń(admin)</a>
  }
            </td>
        </tr>
}
    </tbody>
</table>
