@{
    ViewData["Title"] = "Regulamin";
}
<h1>@ViewData["Title"]</h1>
<h2>Regulamin Forum grzyby.pl</h2>
<h3>1. Postanowienia ogólne</h3>
<p>.Niniejszy regulamin dotyczy korzystania z Forum portalu internetowego znajdującego się pod adresem www.elektroda.pl. Niniejszy regulamin wiąże wszystkich Użytkowników korzystających z Forum Grzyby.
2.2.Użytkownik zobowiązuje się do korzystania z Grzyby w sposób zgodny z prawem i dobrymi obyczajami oraz przyjmuje do wiadomości, że zakazane jest jakiekolwiek umieszczanie/prezentowanie treści zakazanych lub w jakikolwiek sposób naruszających prawa osób trzecich..</p>
<h3>2. Zasady uczestnictwa w forum.</h3>
<p>3.1.Zabronione jest w szczególności:<br>
3.1.1.Jakiekolwiek udostępnianie za pomocą Forum materiałów uzyskanych nielegalnie, bądź w sposób sprzeczny z obowiązującym prawem,<br>
3.1.2.Rejestracja/korzystanie z więcej niż jednego loginu. W przypadku stwierdzenia naruszenia niniejszego postanowienia jeden (lub więcej loginów Użytkownika) mogą zostać zablokowane przez Usługodawcę.<br>
3.1.3.Udostępnianie danych umożliwiających korzystanie z loginu Użytkownika osobom trzecim.<br>
3.1.4.Rejestrowanie loginów łudząco podobnych do już istniejących (zakaz podszywania się pod innego Użytkownika).<br>
3.1.5.Rozpowszechnianie treści o charakterze pornograficznym.<br>
3.1.6.Rozpowszechnianie treści sprzecznych z zasadami współżycia społecznego oraz dobrymi obyczajami.<br>
3.1.7.Rozpowszechnianie treści o obraźliwym charakterze, bądź naruszających obowiązujące standardy etyczne.<br>
3.1.8.Jakiekolwiek rozpowszechnienie/nakłanianie do pobrania wirusów komputerowych lub złośliwego/szkodliwego oprogramowania.<br>
3.1.9.Rozpowszechnianie treści ironizujących, prześmiewczych lub złośliwych, stanowiących przejaw braku szacunku do innych Użytkowników lub osób trzecich.<br>
3.1.10.Rozpowszechnianie, bez zgody Usługodawcy, reklamy w każdej postaci, w tym kryptoreklamy.<br>
3.1.11.Publikowanie wpisów nie zawierających merytorycznej treści, zawierających szkodliwe porady, porady nie będące próbą rozwiązania problemu oraz publikowanie identycznych wpisów następujących po sobie lub powtarzających informacje ujęte w toku dyskusji.</p>
